{% extends "base.html" %}

{% block title %} {{ event }} {% endblock %}

{% block content %}
<form action="" method="post">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<table class="form">
    {{ form.as_table() }}
</table>
<input type="submit" value="Submit" />
</form>

<table class="signed_up">
    <tr>
        <th colspan="4"><h2>Kommer</h2></th>
    </tr>
{% for signup in coming.order_by("user__instrument", 
		"user__first_name", "user__last_name") %}
	<tr>
		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td>
		<td>{{ signup.user.get_instrument_display() }}</td>
		<td>{{ signup.get_coming_display() }}{% if signup.car %}, har bil{% endif %}{% if signup.own_instrument %}, eget instrument{% endif %}</td>
		<td class="comment">{{ signup.comment }}</td>
	</tr>
{% endfor %}

    <tr>
        <th colspan="4"><h2>Kommer inte</h2></th>
    </tr>
{% for signup in not_coming.order_by("user__instrument", 
		"user__first_name", "user__last_name") %}
	<tr>
		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td>
		<td>{{ signup.user.get_instrument_display() }}</td>
		<td  class="comment" colspan="2">{{ signup.comment }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}

