{% extends "base.html" %}

{% block title %} {{ event }} {% endblock %}

{% block content %}
<div class="noprint">
    <form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <table class="form">
        {{ form.as_ul() }}
    </table>
    <input type="submit" value="Submit" />
    </form>

    <hr>
</div>

<div id="upcoming">
    <div id="event_{{ event.pk }}" class="cell" style="clear: both; font-weight: bold;">
        <p>{{ event.date|date("l d/m")}}</p>
    {% if event.isGig() %}
        <p>{{ event.name }}</p>
    {% else %}
        <p>Rep</p>
    {% endif %}
    {% if event.location %}
        <p>{{ event.location }}</p>
    {% endif %}
    </div>
    <div class="cell" >
    {% if event.time_hole %}
        <p>Samling i hålan {{ event.time_hole|time }}</p>
    {% endif %}
    {% if event.time_location %}
        <p>Samling på plats {{ event.time_location|time }}</p>
    {% endif %}
    {% if event.isGig() and event.time_playing %}
        <p>Spelning börjar {{ event.time_playing|time }}</p>
    {% endif %}
    </div>
    <div class="cell" >
    {% if not event.isGig() %}
        <p>Fika och städning: {{ event.get_fika_display() }}</p>
    {% endif %}
    </div>
    <div style="clear: both;">
        {% if event.info and event.info != "<br />" %}
            {{event.info}}
        {% endif %}
    </div>
</div>

{% if coming %}
<h2>Kommer</h2>
<table class="signed_up">
{% for signup in coming.order_by("user__instrument", 
		"user__first_name", "user__last_name") %}
	<tr>
		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td>
		<td>{{ signup.user.get_instrument_display() }}</td>
		<td>{{ signup.get_coming_display() }}{% if signup.car %}, har bil{% endif %}{% if signup.own_instrument %}, eget instrument{% endif %}</td>
		<td class="comment">{{ signup.comment }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% if not_coming %}
<h2>Kommer inte</h2>
<table class="signed_up">
{% for signup in not_coming.order_by("user__instrument", 
		"user__first_name", "user__last_name") %}
	<tr>
		<td>{{ signup.user.first_name }} {{ signup.user.last_name }}</td>
		<td>{{ signup.user.get_instrument_display() }}</td>
		<td  class="comment" colspan="2">{{ signup.comment }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}


