Django==1.6.1
FeinCMS==1.9.2
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==2.3.0
South==0.8.4
botocore==0.24.0
#-e git+https://github.com/samiljan/boto3.git#egg=boto3
dj-database-url==0.2.2
django-debug-toolbar==1.0.1
django-guardian==1.1.1
django-indexer==0.3.0
django-model-utils==2.0
django-mptt==0.6.0
django-paging==0.2.5
-e git+https://github.com/samiljan/django-storages-py3@d0cbb93952d79a927e580687119ec6d2ac32b52f#egg=django-storages
django-templatetag-sugar==0.1
#docutils==0.11
feedparser==5.1.3
icalendar==3.6.1
psycopg2==2.5.2
python-dateutil==2.2
raven==4.0.3
uwsgi
