django
FeinCMS
Jinja2
django-mptt
django-ses
https://github.com/NeuralEnsemble/python-neo/archive/master.zip
django-model-utils
feedparser
django-sentry
raven
south
django-cal
django-debug-toolbar
django-storages
django-guardian
docutils
dj-database-url
psycopg2cffi
Pillow
