https://bitbucket.org/django/django/get/c28c564ee9d8.tar.bz2
FeinCMS==1.5.0.pre1
Jinja2==2.6
django-mptt==0.5.2
https://github.com/hmarr/django-ses/zipball/master
boto==2.1.1
django-model-utils==1.0.0
feedparser==5.0.1
django-sentry==1.12.1
raven==0.7.0
https://bitbucket.org/andrewgodwin/south/get/2f9a84a48350.tar.bz2
https://github.com/statesofpop/django-cal/zipball/master
https://github.com/django-debug-toolbar/django-debug-toolbar/zipball/master
django-guardian==1.0.3
docutils==0.8.1
django-storages==1.1.4
PIL==1.1.7
ordereddict
