{% regroup kamerers by instrument as instrument_list %}
{% for instrument in instrument_list %}
	{% for kamerer in instrument.list %}
	{% ifchanged kamerer.instrument %}
<h2>{{ kamerer.get_instrument_display|capfirst }}</h2>
<table class="address_register">
	{% endifchanged %}
	<tr>
		<td>
			{{ kamerer.user.first_name }} {{ kamerer.user.last_name }}<br /> 
		    <a href=mailto:{{ kamerer.user.email }}>{{ kamerer.user.email }}</a>
		</td>
		<td>
			{{ kamerer.address }}<br />
			{{ kamerer.zip }} {{ kamerer.city }}
		</td>
		<td>
			{{ kamerer.phone }}
		</td>
		<td>
			{{ kamerer.nation }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
