{% if WYMEDITOR_JS_URL %}
<script type="text/javascript">
    // Let wymeditor use the aleady loaded jQuery
    jQuery = feincms.jQuery;
</script>

<script type="text/javascript" src="{{ WYMEDITOR_JS_URL }}"></script>
{% endif %}

<script type="text/javascript">
{% block functions %}{% endblock %}

    (function($){
        var richtext_init_fn = function(){
			$('{% block selectors %}.order-machine textarea[class=item-richtext]:not(.wymified), #frontend_editor textarea[class=item-richtext]:not(.wymified){% endblock %}').wymeditor({
				updateSelector: '.submit-row input[type=submit]',
				updateEvent:    "click",
                classesItems: [
                    {'name': 'infobox', 'title': 'PARA: Infobox', 'expr': 'p'}
                ],
                editorStyles: [
                    {'name': '.infobox', 'css': 'border: 2px solid #ff0000;'}
                ]
			}).addClass('wymified');
		};
{% block enable %}
        contentblock_init_handlers.push(richtext_init_fn);
{% endblock %}

    })(feincms.jQuery);

</script>
