
{% for instrument, list in kamerers|groupby("instrument") %}
<h2>{{ list[0].get_instrument_display()|capitalize }}</h2>
		{% for kamerer in list %}
<table class="address-register">
    <tr>
        <td class="name-email" >
            {{ kamerer.first_name|default }} {{ kamerer.last_name|default }}<br /> 
            <a href=mailto:{{ kamerer.email }}>{{ kamerer.email }}</a>
        </td>
        <td>
            {{ kamerer.address|default }}<br />
            {{ kamerer.zip|default }} {{ kamerer.city }}
        </td>
        <td>
            {{ kamerer.phone|default }}<br />
            {{ kamerer.second_phone|default }}
        </td>
        <td>
            {{ kamerer.nation|default }}
        </td>
    </tr>
	    {% endfor %}
</table>
{% endfor %}
