{% extends "base.html" %}


{% block extra_css %}
<style type="text/css">

#upcoming div {
	padding: 5px;
}

div.cell {
	display: inline-block;
	float: left;
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
}

</style>
{% endblock %}

{% block content %}

<div id="upcoming">
{% for year, list in events|groupby("date.year") %}
    <h2>{{ year }}</h2>
    {% for month, list in list|groupby("date.month") %}
        <h2>{{ list[0].date.strftime("%B") }}</h2>
            
        {% for event in list %}
	        <div class="cell" style="clear: both; font-weight: bold;">
	        	<p>{{ event.date.strftime("%A %d/%m") }}</p>
	       	{% if event.isGig() %}
	            <p>{{ event.name }}</p>
	        {% else %}
	            <p>Rep</p>
	        {% endif %}
	        {% if event.location %}
	        	<p>{{ event.location }}</p>
	        {% endif %}
	        </div>
	        <div class="cell" >
	        {% if event.time_hole %}
	        	<p>Samling i hålan {{ event.time_hole }}</p>
	       	{% endif %}
	        {% if event.time_location %}
	        	<p>Samling på plats {{ event.time_location }}</p>
	       	{% endif %}
	        {% if event.isGig() and event.time_playing %}
	            <p>Spelning börjar {{ event.time_playing }}</p>
	        {% endif %}
	        </div>
	        <div class="cell" >
	        {% if not event.isGig() %}
	            <p>Fika: {{ event.get_fika_display() }}</p>
	        {% endif %}
	        {% if user.is_authenticated() and event.signup %}
	        	{% set signup = event.get_signup(user) %}
	        	{% if signup %}
	        		<p><a href="/event/signup/{{event.pk}}" style="color: #00cc00;">
	        			Anmäld: {{ signup.get_coming_display() }}
	        		</a></p>
	        	{% else %}
		        	<p><a href="/event/signup/{{event.pk}}">Anmäl</a></p>
				{% endif %}
				<p>Antal anmälda: {{ event.num_signed_up() }}</p>
			{% endif %}
	        </div>
	        <div style="clear: both;">
	        	<p>{{event.info}}</p>
	        </div>
	        <hr style="border-color: #888888">
	    {% endfor %}
        
    {% endfor %}
{% endfor %}
</div>
{% endblock %}

